body {
	font-family: sans-serif;
	align: center;
}

#app_content {
	max-width: 1100px;
	align: center;
}

.title_bar {
	width: 98%;
	background-color: LIGHTBLUE;
	border-radius: 5px;
	padding: 10px;
	border: solid 1px BLUE;
	margin-bottom: 10px;
}

.sensor_output {
	min-width: 100px;
	background-color: #fffece;
	text-align: right;
}

#main_output {
	padding: 10px;
}

#work_area {
	min-height: 400px;

}

.ip_section {
	float: left;
}

.section_title {
	font-weight: bold;
	background-color: #DDD;
	padding: 10px;
	border: solid 1px #000;

}

.section_title_caption {
	font-weight: bold;
	background-color: #DDD;
	float: left;
}

.section_title_close {
	font-weight: bold;
	background-color: #DDD;
	float: right;
}

.section_title_close a {
	cursor: pointer;
	margin-right: 5px;
}


.menu_bar {
	float: right;
}

#components {
	min-height: 200px;
	width: 30%;
	float: left;
	
}

#system_log {
	border: solid 1px #DDD;
}

#main {
	margin-left: 5px;
	width: 68%;
	float: right;
	border: solid 1px #DDD;

}

.ctl_left {
	margin:20px;
	float: left;
}

.ctl_right {
	margin:20px;
	float: right;
}

.float_clear {
	clear: both;
}


table {
	width: 100%;
}

table th {
	text-align: left;
	background-color: #DDD;
}

table td {
	border-right: solid 1px #DDD;
	margin-right: 5px;
}

.component_button {
	min-width: 200px;
	background-color: #e7dff7;
	border: solid 1px #000;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.component_button:hover {
	background-color: #ceb8fa;
}
