body {
	font-family: sans-serif;
	align: center;
}

#app_content {
	max-width: 1100px;
	align: center;
}

.title_bar {
	width: 98%;
	background-color: LIGHTBLUE;
	border-radius: 5px;
	padding: 10px;
	border: solid 1px BLUE;
}

#work_area {
	min-height: 400px;
}

.ip_section {
	float: left;
}

.section_title {
	font-weight: bold;
	background-color: #DDD;
}

.menu_bar {
	float: right;
}

#components {
	min-height: 200px;
	width: 30%;
	float: left;
	border: solid 1px #DDD;
}

#system_log {
	border: solid 1px #DDD;
}

#main {
	margin-left: 5px;
	width: 68%;
	float: right;
	border: solid 1px #DDD;

}

table {
	width: 100%;
}

table th {
	text-align: left;
	background-color: #DDD;
}

table td {
	border-right: solid 1px #DDD;
	margin-right: 5px;
}

